<h1>Services#edit</h1>
<p>Find me in app/views/services/edit.html.erb</p>

<%= simple_form_for [@neighbourhood, @service] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :address, html: { id: :service_address } %>
  <%= f.input :description %>
  <%= f.input :phone %>
  <%= f.input :opentime %>
  <%= f.input :closetime %>
  <%= f.input :website %>
  <%= f.submit %>
<% end %>
