














<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <div class="btn-maplist center-buttons mt-3 mb-3">
        <span id="list-button">list</span>
        <span id="map-button">map</span>
      </div>
      <div>
        <button type="button" class="collapsible">
          More options
          <i class="fas fa-list"></i>
        </button>
        <div class="content mt-4">
          <div class="mb-3 ml-4">
            <h3><%= params[:query] %></h3>
          </div>
            <%= render "components/searchbar" %>
        </div>
      </div>
        <div id="list-services">
          <% @services.each do |service| %>
            <%= link_to neighbourhood_service_path(@neighbourhood, service) do %>
              <div class="card-product mb-3">
               <% if service.photos.attached? %>
                <%= cl_image_tag service.photos.first.key %>
              <% else %>
                <%= cl_image_tag("https://res.cloudinary.com/dyndl1bic/image/upload/v1606252899/nbr-02_prgan8.png", width: 120, height: 120, crop: :fill) %>
              <% end %>
              <div class="card-product-infos">
                 <h2><%= service.name %></h2>
                 <p><%= service.category %></p>
                 <p><%= service.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="map"
     style="width: 100%; height: 100%; position: fixed; "
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
