<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-16 col-lg-6">
      <div class="text-center d-flex flex-direction-row justify-content-around btn-maplist text-center center-buttons">
        <div class="ml-4"><%= link_to "list", "", id: 'list-button' %></div>
        <p>|</p>
        <div class="mr-4"><%= link_to "map", "", id: 'map-button' %></div>
      </div>
      <h1><%= @neighbourhood.name %></h1>
        <%= render "components/searchbar" %>
        <%= render "shared/category-buttons" %>
        <div id="list-services" class="d-none">
        <% @services.each do |service| %>
        <%= link_to neighbourhood_service_path(@neighbourhood, service) do %>
            <div class="card-product mb-3">
             <% if service.photos.attached? %>
              <%= cl_image_tag service.photos.first.key %>
            <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/dyndl1bic/image/upload/v1606252899/nbr-02_prgan8.png", width: 120, height: 120, crop: :fill) %>
            <% end %>
            <div class="card-product-infos">
               <h2><%= service.name %></h2>
               <p><%= service.category %></p>
               <p><%= service.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
    </div>
  </div>
  <div id="map"
       class="d-none"
       style="width: 100%; height: 400px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<script>
  function reloadPage() {
  // The last "domLoading" Time //
  var currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  var now = Date.now();
  // Ten Seconds //
  var tenSec = 1000;
  // Plus Ten Seconds //
  var plusTenSec = currentDocumentTimestamp + tenSec;
  if (now > plusTenSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>

