<div class="masthead-user">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
          <div class="background-card mt-5">
          <h2>Create a service</h2>
          <p>Do you own a bussiness? Annouce in no meu bairro!</p>
          <%= simple_form_for [@neighbourhood, @service] do |f| %>
            <%= f.input :name %>
            <%= f.input :address, html: { id: :service_address } %>
            <%#= f.association :neighbourhood,
                              collection: Neighbourhood.all.order(:name),
                              prompt: "Choose a neighbourhood!"  %>
            <%= f.input :description %>
            <%= f.input :phone %>
            <%= f.input :opentime, as: :time, html5:true %>
            <%= f.input :closetime, as: :time, html5:true %>
            <%= f.input :website %>
            <%= f.input :category %>
            <div class="center-buttons">
            <%= f.input :photos, as: :file,  input_html: { class: 'd-none', multiple: true }, label_html: { class: 'btn btn-outline-primary mt-3'}, label: 'Upload photos!' %>
            <%= f.button :submit, "Create service", class: "btn btn-primary mt-3 mb-4" %>
            </div>
          <% end %>
         <div class="mt-4 center-buttons mb-3">
             <%= link_to 'Back', 'javascript:history.back()' %>
         </div>
         </div>
        </div>
      </div>
  </div>
</div>
