<div class="masthead-user">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
          <div class="background-card mt-5">
          <h2>Create a service</h2>
          <p>Do you own a bussiness? Annouce in no meu bairro!</p>

          <%= simple_form_for [@neighbourhood, @service] do |f| %>
            <%= f.input :name %>
            <%= f.input :address, html: { id: :service_address } %>
            <%= f.input :description %>
            <%= f.input :phone %>
            <%= f.input :opentime %>
            <%= f.input :closetime %>
            <%= f.input :website %>
            <%= f.input :category %>
            <%= f.input :photos, as: :file,  input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'Upload photos!' %>
            <%= f.submit, class: "btn btn-primary mb-4" %>
          <% end %>
          <%= image_tag "", width: 200, class: "hidden", id: "photo-preview" %>
         </div>
         <div class="mt-4 center-buttons mb-3">
             <%= link_to 'Back', 'javascript:history.back()' %>
         </div>
        </div>
      </div>
  </div>
</div>
