<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center">
          <h3><%= @service.name %></h3>
          <div id="favourite">
           <% if current_user.has_favourited?(@service) %>
           <%= link_to unfav_neighbourhood_service_path(@neighbourhood, @service), :method => :post do %>
           <i class='fa fa-heart favourite' style="font-size: 24px"></i>
           <% end %>
           <% else %>
           <%= link_to  fav_neighbourhood_service_path(@neighbourhood, @service), :method => :post do %>
           <i class='far fa-heart' style="font-size: 24px"></i>
           <% end %>
           <% end %>
         </div>

       </div>
     </div>
     <% if @service.photos.attached? %>
     <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel">
      <div class="carousel-inner">
        <% @service.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "First slide" %>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <% end %>
    <div class="mt-2">
      <p type="button" data-toggle="modal" data-target="#exampleModalCenter"><strong><i class="fas fa-map-marker-alt mr-2"></strong></i> <%= @service.address %> <strong>(view in map)</strong></p>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div id="map"
              style="width: 100%; height: 300px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <p style="color: #F6830F"><strong><%= @service.category %></strong></p>
    <p class="mt-5"><%= @service.description %></p>
    <p><strong>Phone number:</strong> <%= @service.phone %></p>
    <p><strong>Website:</strong> <%= @service.website %></p>
    <p><strong>Opening time:</strong> <%= @service.opentime %></p>
    <p><strong>Closing time:</strong> <%= @service.closetime %></p>
  </div>

  <div>
    <% if current_user == @service.user %>
    <%= link_to edit_neighbourhood_service_path(@neighbourhood, @service) do %>
    <p>Edit Service</p>
    <% end %>
    <% end %>
  </div>
  <div class="mt-4">
    <% if current_user != @service.user %>
    <%= render 'reviews/new' %>
    <% end %>
  </div>
  <div class="mt-4">
    <%= render 'reviews/show' %>
  </div>
  <div class="center-buttons mt-5 mb-5">
    <%= link_to 'Back', 'javascript:history.back()' %>
  </div>
</div>
</div>

<script>
  function reloadPage() {
  // The last "domLoading" Time //
  var currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  var now = Date.now();
  // Ten Seconds //
  var tenSec = 1000;
  // Plus Ten Seconds //
  var plusTenSec = currentDocumentTimestamp + tenSec;
  if (now > plusTenSec) {
    location.reload();
  } else {}
}
reloadPage();
</script>
