<div class="container">
  <div class="text-center mt-5">

    <%= @service.name  %>

    <div>
    <% if @service.photo.attached?%>
      <%= cl_image_tag @service.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    </div>


    <% if current_user == @service.user %>
      <%= link_to edit_neighbourhood_service_path(@service) do %>
        <p>Edit Service</p>
      <% end %>
      <%= link_to "Delete service",
                  neighbourhood_service_path(@service),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      <% end  %>

    <%= render 'reviews/show' %>
    <%= render 'reviews/new' %>

  </div>
</div>

    <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>



<script>
  function reloadPage() {
  // The last "domLoading" Time //
  var currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  var now = Date.now();
  // Ten Seconds //
  var tenSec = 1000;
  // Plus Ten Seconds //
  var plusTenSec = currentDocumentTimestamp + tenSec;
  if (now > plusTenSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>
