
<%= render 'shared/navbar' %>

<div class="container">
				  <% @neighbourhood.services.each do |service| %>
	<div class="card-trip mb-4 mt-4">

	  <div class="card-trip-infos">
	    <div>

			  <%= link_to neighbourhood_service_path(@neighbourhood, service) do %>
			    <h2> <%= service.name %> </h2>
			  <p> <%= service.category %></p>
			  	<% end %>

			</div>
		</div>
	</div>
			<% end %>
</div>


	<h1><%= @neighbourhood.name %></h1>




<div class="container mt-3">
	<%= render "components/searchbar" %>
</div>

	<div class="container mt-3">
		<div id="map"
		     style="width: 100%; height: 600px;"
		     data-markers="<%= @markers.to_json %>"
		     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
	</div>


