<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-16 col-lg-6">
  <div class="mt-4">
  	<h1><%= @neighbourhood.name %></h1>
  </div>
  <div class="mt-5 mb-5">
    <%= render "components/searchbar" %>
  </div>

<header class="scroll">
  <nav>
    <div class="d-flex flex-direction-row">

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-store"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Retail</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-utensils"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Restaurants</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-landmark "></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Landmarks</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-store"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Retail</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-utensils"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Restaurants</p>
        </div>
      </button>

    </div>
  </nav>
</header>

 <% @services.each do |service| %>
    <%= link_to neighbourhood_service_path(@neighbourhood, service) do %>
      <div class="card-product mb-3">
        <% if service.photos.attached? %>
                <%= cl_image_tag service.photo.key %>
                <% else %>
                <img src="https://picsum.photos/120" />
                <% end %>
          <div class="card-product-infos">
            <h2> <%= service.name %> </h2>
              <p> <%= service.category %> </p>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

    </div>
  </div>






  <div class="text-center">
    <%= link_to new_neighbourhood_service_path(@neighbourhood) do %>
      <button type="button" class="btn btn-primary mt-5">Add your service!</button>
    <% end %>
  </div>
</div>

<div id="map" class="mt-5"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= render 'components/footer' %>


<script>
  function reloadPage() {
  // The last "domLoading" Time //
  var currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  var now = Date.now();
  // Ten Seconds //
  var tenSec = 1000;
  // Plus Ten Seconds //
  var plusTenSec = currentDocumentTimestamp + tenSec;
  if (now > plusTenSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>
