<div class="notification">
  <% if comment.user.photo.attached? %>
    <%= cl_image_tag comment.user.photo.key, class: "avatar" %>
  <% else %>
    <%= cl_image_tag("https://res.cloudinary.com/dyndl1bic/image/upload/v1606252899/nbr-02_prgan8.png", class: "avatar", width: 40, height: 40, crop: :fill) %>
  <% end %>
  <div class="notification-content">
      <div class="ml-3">
        <p class="username mb-1"> <%= comment.user.name %> said: </p>
        <p class="username mb-1"><small>Published at <%= time_ago_in_words(comment.created_at) %></small></p>
      </div>
<!--       <div>
        <%#= link_to edit_neighbourhood_post_comment_path(comment.post,comment) do %>
          <i class="fas fa-pencil-alt mr-0"></i>
        <%# end %>
        <%#= link_to [comment.post, comment], method: :delete, data: { confirm: "Are you sure you want to do this ?" } do %>
          <i class="far fa-trash-alt ml-3"></i>
        <%# end %>
      </div> -->



    <p style="font-size:12px" class="ml-3"><%= comment.comment %></p>
  </div>
</div>
