<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>


      <% if current_user.photo.attached? %>
      <li class="nav-item dropdown">
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>

      <% else %>
      <li class="nav-item dropdown">
        <%= cl_image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item active">
        <p class="nav-link"><%= current_user.name %></p>
      </li>
      <% end %>


    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</div>
