<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
				 <h1 class="mt-4">Favourites</h1>
			<div class="container mt-5">
				<% if @favourites.present? %>
		   		<% @favourites.each do |favourite| %>
		    		<%= link_to neighbourhood_service_path(favourite.service.neighbourhood, favourite.service) do %>
		      	<div class="card-product mb-3">
			        <% if favourite.service.photos.attached? %>
              <% favourite.service.photos.each_with_index do |photo, index| %>
                 <% if index == 0 %>
                <%= cl_image_tag photo.key, crop: :fill %>
                <% end %>
              <% end %>
			        <% else %>
			        	<%= cl_image_tag("https://res.cloudinary.com/dyndl1bic/image/upload/v1606252899/nbr-02_prgan8.png", width: 120, height: 120, crop: :fill) %>
			        <% end %>
			          <div class="card-product-infos">
			            <h2><%= favourite.service.name %></h2>
			              <p><%= favourite.service.category %></p>
			          </div>
		    		</div>
		    		<% end %>
		  		<% end %>
		  	<% end %>
		  </div>
			<div class="center-buttons mb-3">
        <%= link_to 'Back', 'javascript:history.back()' %>
			</div>
		</div>
	</div>
</div>
