

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-bordered" />
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Hi friends, I am new in the neighbourhood. I am looking for local personal trainer</p>
  </div>


</div>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-bordered"/>
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Today I went to my local chippie and surprise... It's now a kebab shop. I'm shattered.</p>
  </div>

</div>

----------------------------------------


<% @posts.each do |post| %>
<div class="notification">
  <img src='https://thispersondoesnotexist.com/image' class="avatar-bordered"/>
  <div class="notification-content">
    <%= link_to post.title, neighbourhood_post_path(@neighbourhood, post) %>
    <%= post.content %>
    <p><small>Published at <%= time_ago_in_words(post.created_at) %></small></p>
</div>
</div>
<% end %>









<%= link_to "New Post", new_neighbourhood_post_path %>
<%= link_to "Home", root_path %>






<div class="footer">
  <div class="footer-links">
    <a href="www.github.com/nomeubairro"><i class="fab fa-github"></i></a>
    <a href="www.instagram.com/nomeubairro"><i class="fab fa-instagram"></i></a>
    <a href="www.facebook.com/nomeubairro"><i class="fab fa-facebook"></i></a>
    <a href="wwww.twitter.com/nomeubairro"><i class="fab fa-twitter"></i></a>
    <a href="www.linkedin.com/nomeubairro"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
