<header class="masthead">
  <div class="container">

    <div class="container mt-1">
     <%= link_to new_neighbourhood_post_path do %>
     <button type="button" class="btn btn-primary mb-2">New Post</button>
     <% end %>

     <% @posts.each do |post| %>
     <div class="mt-2 notification">
      <img src='https://thispersondoesnotexist.com/image' class="avatar-bordered"/>
      <div class="notification-content">
        <%= link_to post.title, neighbourhood_post_path(@neighbourhood, post) %>
        <%= post.content %>
        <p><small>Published at <%= time_ago_in_words(post.created_at) %></small></p>
      </div>
    </div>
    <% end %>

    <%= link_to root_path do %>
    <button type="button" class="btn btn-primary mt-2">Home</button>
    <% end %>
  </div>
</div>
</header>
