<div class="container">
  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="titlemessage">
      <div class="notification-content">

        <h1> <%= @post.title %> </h1>
        <p> <%= @post.content %> <%= link_to edit_neighbourhood_post_path(@post) do %>
        <i class="fas fa-pencil-alt"></i></a> </p>

        <% end %>

        <%= link_to neighbourhood_post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" } do %>
        <i class="far fa-trash-alt"></i></a>
        <% end %>
      </div>
      <div class="small_text"> This post has been viewed <%= @post.comments.count %> times </div>
    </div>
  </div>
  <%= render @post.comments %>

  <p><%= render "comments/form" %></p>
</div>
