<div class="container">

  <div class="titlemessage">
    <h1>
      <%= @post.title %>
    </h1>
    <p>
      <%= @post.content %>
    </p>
    <div class="notification-actions">
      <%= link_to edit_neighbourhood_post_path(@neighbourhood, @post) do %>
      Edit Post<i class="fas fa-pencil-alt"></i></a>
      <% end %>

      <%= link_to neighbourhood_post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" } do %>
      Delete Post<i class="far fa-trash-alt"></i></a>
      <% end %>
    </div>
    <div class="small_text"> This post has been viewed <%= @post.comments.count %> times </div>
    </div>
  <%= render @post.comments %>
  <p><%= render "comments/form" %></p>
</div>
