
<div class="card-trip">
  <% @service.reviews.each do |review| %>
    <div class="p-3 mb-3">
      <% if review.user.photo.attached?  %>
        <%= cl_image_tag review.user.photo.key, :class => "avatar mb-2" %>
        <div class="d-flex justify-content-between mb-2">
          <h2><%= review.user.name %></h2>
          <div>
            <% review.rating.to_i.times do  %>
              <i style="color: #FAB703" class="fas fa-star"></i>
            <% end %>
          </div>
        </div>
        <p><%= review.content %></p>
      <% else  %>
        <div class="d-flex justify-content-between mb-2">
          <h2><%= review.user.name %></h2>
            <% review.rating.to_i.times do  %>
              <i style="color: #FAB703" class="fas fa-star"></i>
            <% end %>
          </div>
        <p><%= review.content %></p>
      <% end %>
    </div>
  <% end %>
</div>


